<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/rem.js"></script>
</head>
<body>
    <header class="header">
        <div class="mask"></div>
        <div style="width: 0;height: 0.68rem;"></div>
        <div class="top">
            <i class="iconfont">&#xe604;</i>
            <i class="iconfont">&#xe620;</i>
        </div>
        <div class="my_info">
            <div class="profile_photo">
                <img src="img/profile_photo.jpg">
            </div>
            <div class="name"><span>潘将兵</span></div>
        </div>
    </header>
    <section class="main">
        <ul class="list-box">
            <li class="list">
                <div class="list-top">
                    <div class="list-profile-photo">
                        <img src="img/profile_photo.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="other-name"><span>丽</span></div>
                        <div class="desc">
                            恒大估计文化城即将盛大开盘
                            <br>
                            全款分期付款，首期3万起
                            <br>
                            认筹倒计时
                            <ul>
                                <li><img src="img/profile_photo.jpg" alt=""></li>
                                <li><img src="img/profile_photo.jpg" alt=""></li>
                                <li><img src="img/profile_photo.jpg" alt=""></li>
                                <li><img src="img/profile_photo.jpg" alt=""></li>
                                <li><img src="img/profile_photo.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="list-bottom">
                            <span class="time">1分钟前</span>
                            <i class="iconfont">&#xe619;</i>
                        </div>
                    </div>
                </div>
            </li>
            <div class="line"></div>
        </ul>
        <div class="load-more">
            <span>正在加载...</span>
        </div>
    </section>
    <div class="data">

    </div>
    <script src="js/jquery.js"></script>
    <script src="js/socket.js"></script>
    <script src="js/main.js"></script>
</body>
</html>